<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> has sent a message</h1>
    <p>
      Name: <%= @user.name  %>.<br>
    </p>
    <p>
      Email: <%= @user.email  %>.<br>
    </p>
    <p>
      Message: <%= @user.message  %>.<br>
    </p>
    <p>
      Phone: <%= @user.phone_number  %>.<br>
    </p>
  </body>
</html>