<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V17</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'css/bootstrap.min', 'font-awesome-4.7.0/css/font-awesome.min', 
                            'Linearicons-Free-v1.0.0/icon-font.min' %>
</head>
<body>
  <!-- Overlay loader -->
  <div class="overlay"></div>
  <div class="spanner">
    <div class="loader"></div>
  </div>

  <div class="container-contact100">
    <div class="wrap-contact100">
      <form class="contact100-form validate-form">
        <span class="contact100-form-title">
            <%= t('contact_title') %>
        </span>

      <label class="p-r-10">Choose a Language</label>
      <%= select_tag(:locale, options_for_select([["English", 'en'],["Hindi", 'hn']], params[:locale] ), 
          class:"form-select select_locale") %>

        <label class="label-input100" for="first-name"><%= t('enter_name') %> *</label>
        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = '<%= t('type_first_name') %>'>
            <input id="first_name" class="input100" type="text" name="first-name" placeholder="First name">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate = '<%= t('type_last_name') %>'>
            <input class="input100" id="last_name" type="text" name="last-name" placeholder="Last name">
            <span class="focus-input100"></span>
        </div>

        <label class="label-input100" for="email"><%= t('enter_email') %> *</label>
        <div class="wrap-input100 validate-input" data-validate = '<%= t('valid_email_required') %>'>
            <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
            <span class="focus-input100"></span>
        </div>

        <label class="label-input100" for="phone"><%= t('enter_phone_number') %></label>
        <div class="wrap-input100">
            <input id="phone_number" class="input100" type="text" name="phone" maxlength="10" placeholder="Eg. +1 800 000000">
            <span class="focus-input100"></span>
        </div>

        <label class="label-input100" for="message"><%= t('message') %> *</label>
        <div class="wrap-input100 validate-input" data-validate = '<%= t('message_required') %>'>
            <textarea id="message" class="input100" name="message" placeholder='<%= t('write_us_a_message') %>'></textarea>
            <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
                <%= t('send_message') %>
            </button>
        </div>
      </form>

      <div class="contact100-more flex-col-c-m" style="background-image: url(<%= image_path("bg-01.jpg") %>);">
          <div class="flex-w size1 p-b-47">
              <div class="txt1 p-r-25">
                  <span class="lnr lnr-map-marker"></span>
              </div>

              <div class="flex-col size2">
                  <span class="txt1 p-b-20">
                      <%= t('address') %>
                  </span>

                  <span class="txt2">
                      Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
                  </span>
              </div>
          </div>

          <div class="dis-flex size1 p-b-47">
              <div class="txt1 p-r-25">
                  <span class="lnr lnr-phone-handset"></span>
              </div>

              <div class="flex-col size2">
                  <span class="txt1 p-b-20">
                      <%= t('lets_talk') %>
                  </span>

                  <span class="txt3">
                      +1 800 1236879
                  </span>
              </div>
          </div>

          <div class="dis-flex size1 p-b-47">
              <div class="txt1 p-r-25">
                  <span class="lnr lnr-envelope"></span>
              </div>

              <div class="flex-col size2">
                  <span class="txt1 p-b-20">
                      <%= t('general_support') %>
                  </span>

                  <span class="txt3">
                      contact@example.com
                  </span>
              </div>
          </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag "js/bootstrap.min", 'users', "https://unpkg.com/sweetalert/dist/sweetalert.min" %>
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
</body>
</html>
