<!DOCTYPE html>
<html>
  <head>
    <title>AjackusAssignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icons/favicon.ico', rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
